@import 'https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/light/main.css';

/* body {
  overflow: hidden;
} */

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#ol-map {
  width: 100%;
  height: 100vh;
}

.ll-map {
  width: 100%;
  height: 100vh;
}

.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.ol-scale-bar {
  left: 18vh !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}